.site-header {
	background-color: #444;
	color: #fff;
	width: 100vw;
	height: 100vh;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-header-content {
	margin: 10px;
}

.profile-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 3px 6px 8px #000;
}

.project-link {
	display: inline;
	color: green;
}

.course-link {
	color: #fff;
}

body {
	margin: 0;
}
