.site-header {
	padding: 20px 0;
	background-color: #444;
	color: #fff;
	width: 100vw;
	min-height: 100vh;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links {
	margin-top: 30px;
	color: yellowgreen;
}

.site-header-content {
	margin: 30px;
}

.profile-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 3px 6px 8px #000;
}

.link {
	font-size: 20px;
	color: yellowgreen;
	letter-spacing: 2px;
}

.course-link {
	color: #fff;
}

body {
	margin: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
  }

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #00c6ff);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #30ff00);
  }
  